In [119]:
My_Dict = {
'person_1':{ 'name' :  'Abdul Rafay', 'age':22, 'Interests':['football','cricket'], 'amount_deposited':
[24000,26000] },
'person_2':{ 'name' : 'Nancy James', 'age':23, 'Interests':['baseball','cricket'], 'amount_deposited':
[24000,27000] },
'person_3':{ 'name' : 'Selena Gomez', 'age':26,' Interests':['baseball','table tennis'],
'amount_deposited':[24000,28000] }
}

In [120]:
for key,value in My_Dict.items():
    print (key,value)

person_1 {'name': 'Abdul Rafay', 'age': 22, 'Interests': ['football', 'cricket'], 'amount_deposited': [24000, 26000]}
person_2 {'name': 'Nancy James', 'age': 23, 'Interests': ['baseball', 'cricket'], 'amount_deposited': [24000, 27000]}
person_3 {'name': 'Selena Gomez', 'age': 26, ' Interests': ['baseball', 'table tennis'], 'amount_deposited': [24000, 28000]}

In [121]:
a_g=['a','b','c','d','e','f','g']

In [122]:
map_list=list(map(lambda x: 'Mr '+x[1]['name'] if x[1]['name'][0].lower().lstrip()[0] in a_g else  'Ms '+x[1]['name'],My_Dict.items()))
map_list

['Mr Abdul Rafay', 'Ms Nancy James', 'Ms Selena Gomez']

In [123]:
def reduced (l):
  from functools import reduce 
  reduce_data=reduce((lambda x,y:x+y),l)#x[0][1]['amount_deposited'])
  return reduce_data

In [124]:
for k,v in My_Dict.items():
  print(v['amount_deposited'])
  v['amount_deposited']=reduced(v['amount_deposited'])

[24000, 26000]
[24000, 27000]
[24000, 28000]

In [125]:
s_m_k=('s','m','k')

In [ ]:
# mapd_data= list (map(lambda x: "Mr. "+x if str(x).lower().lstrip().Startswith(s_m_k) else "Mrs. " +x ,[My_Dict[:]['name']]))

TypeError: ignored

In [126]:
filter_data=list(map(lambda x :   x[x[1]['name'][0].lower().lstrip()[0] not in s_m_k]   ,My_Dict.items()))
filter_data

[{'Interests': ['football', 'cricket'],
  'age': 22,
  'amount_deposited': 50000,
  'name': 'Abdul Rafay'},
 {'Interests': ['baseball', 'cricket'],
  'age': 23,
  'amount_deposited': 51000,
  'name': 'Nancy James'},
 'person_3']

In [127]:
from datetime import date
today = date.today()

import pytz

utc = pytz.utc
pst = pytz.timezone('America/Los_Angeles')
ist = pytz.timezone('Asia/Calcutta')


new_dict={}
new_dict['data']=filter_data
new_dict['current-date']='11-Jul-2021'
new_dict

{'current-date': '11-Jul-2021',
 'data': [{'Interests': ['football', 'cricket'],
   'age': 22,
   'amount_deposited': 50000,
   'name': 'Abdul Rafay'},
  {'Interests': ['baseball', 'cricket'],
   'age': 23,
   'amount_deposited': 51000,
   'name': 'Nancy James'},
  'person_3']}

In [128]:
import csv
a_file = open("sample.csv", "w")
writer = csv.writer(a_file)
for key, value in new_dict.items():
    writer.writerow([key, value])

a_file.close()